---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_80.0.3987
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 13 Feb 2020 19:33:45 GMT
      Etag:
      - '"492ef7f4a53ab59e654c8ed8f7fb63ca"'
      X-Goog-Generation:
      - '1581622425572055'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '13'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=wvNAZQ==
      - md5=SS739KU6tZ5lTI7Y9/tjyg==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 80.0.3987.106
  recorded_at: Mon, 30 Mar 2020 17:33:32 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GH_STEVE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1585593216'
      Etag:
      - W/"8fa89a6f0b2a7c5b2c52d46e19963ba7"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":241402741,"node_id":"MDEwOlJlcG9zaXRvcnkyNDE0MDI3NDE=","name":"activerecord-obstacle-course","full_name":"alerrian/activerecord-obstacle-course","private":false,"owner":{"login":"alerrian","id":21130370,"node_id":"MDQ6VXNlcjIxMTMwMzcw","avatar_url":"https://avatars1.githubusercontent.com/u/21130370?v=4","gravatar_id":"","url":"https://api.github.com/users/alerrian","html_url":"https://github.com/alerrian","followers_url":"https://api.github.com/users/alerrian/followers","following_url":"https://api.github.com/users/alerrian/following{/other_user}","gists_url":"https://api.github.com/users/alerrian/gists{/gist_id}","starred_url":"https://api.github.com/users/alerrian/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alerrian/subscriptions","organizations_url":"https://api.github.com/users/alerrian/orgs","repos_url":"https://api.github.com/users/alerrian/repos","events_url":"https://api.github.com/users/alerrian/events{/privacy}","received_events_url":"https://api.github.com/users/alerrian/received_events","type":"User","site_admin":false},"html_url":"https://github.com/alerrian/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/alerrian/activerecord-obstacle-course/deployments","created_at":"2020-02-18T15:54:33Z","updated_at":"2020-02-26T23:06:35Z","pushed_at":"2020-02-26T23:06:33Z","git_url":"git://github.com/alerrian/activerecord-obstacle-course.git","ssh_url":"git@github.com:alerrian/activerecord-obstacle-course.git","clone_url":"https://github.com/alerrian/activerecord-obstacle-course.git","svn_url":"https://github.com/alerrian/activerecord-obstacle-course","homepage":null,"size":65,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":236848075,"node_id":"MDEwOlJlcG9zaXRvcnkyMzY4NDgwNzU=","name":"adopt_dont_shop","full_name":"alerrian/adopt_dont_shop","private":false,"owner":{"login":"alerrian","id":21130370,"node_id":"MDQ6VXNlcjIxMTMwMzcw","avatar_url":"https://avatars1.githubusercontent.com/u/21130370?v=4","gravatar_id":"","url":"https://api.github.com/users/alerrian","html_url":"https://github.com/alerrian","followers_url":"https://api.github.com/users/alerrian/followers","following_url":"https://api.github.co[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GH_STEVE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1585593216'
      Etag:
      - W/"2e77c85db1a34379f8[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GH_STEVE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1585593217'
      Etag:
      - W/"07bde1eecaec1ecb92[...]
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GH_NATHAN_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1585593383'
      Etag:
      - W/"3c77d9e15bc2e02a22fcf7995a112b77"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GH_NATHAN_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GH_NATHAN_TOKEN>&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":241479132,"node_id":"MDEwOlJlcG9zaXRvcnkyNDE0NzkxMzI=","name":"monster_shop_1911","full_name":"DavidHoltkamp1/monster_shop_1911","private":false,"owner":{"login":"DavidHoltkamp1","id":54868358,"node_id":"MDQ6VXNlcjU0ODY4MzU4","avatar_url":"htt[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GH_NATHAN_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1585593383'
      Etag:
      - W/"7396b6dbff04e5335[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GH_NATHAN_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1585593383'
      Etag:
      - W/"6bc9946dde68e46f2[...]
[...]
- request:
    method: get
    uri: http://api.github.com/users/alerrian?access_token=<GH_NATHAN_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.github.com/users/alerrian?access_token=<GH_NATHAN_TOKEN>
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 30 Mar 2020 20:16:50 GMT
- request:
    method: get
    uri: https://api.github.com/users/alerrian?access_token=<GH_NATHAN_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1585602868'
      Etag:
      - W/"9349cca9244ba1035[...]
- request:
    method: get
    uri: https://api.github.com/users/nkeller1?access_token=<GH_NATHAN_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1585602868'
      Etag:
      - W/"ccdb9e1d499714388[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/alerrian?access_token=<GH_STEVE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1585600699'
      Etag:
      - W/"03b3e7729d54f168b9[...]
- request:
    method: get
    uri: https://api.github.com/users/nkeller1?access_token=<GH_STEVE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1585600699'
      Etag:
      - W/"e14f7e217a2e4f4a2c[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GH_STEVE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1585767503'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 01 Apr 2020 18:03:19 GMT
recorded_with: VCR 5.1.0
