---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GH_NATHAN_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1585192709'
      Etag:
      - W/"b6f358f461e312e06ecff8f5b9ff2d01"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GH_NATHAN_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GH_NATHAN_TOKEN>&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":241479132,"node_id":"MDEwOlJlcG9zaXRvcnkyNDE0NzkxMzI=","name":"monster_shop_1911","full_name":"DavidHoltkamp1/monster_shop_1911","private":false,"owner":{"login":"DavidHoltkamp1","id":54868358,"node_id":"MDQ6VXNlcjU0ODY4MzU4","avatar_url":"https://avatars2.githubusercontent.com/u/54868358?v=4","gravatar_id":"","url":"https://api.github.com/users/DavidHoltkamp1","html_url":"https://github.com/DavidHoltkamp1","followers_url":"https://api.github.com/users/DavidHoltkamp1/followers","following_url":"https://api.github.com/users/DavidHoltkamp1/following{/other_user}","gists_url":"https://api.github.com/users/DavidHoltkamp1/gists{/gist_id}","starred_url":"https://api.github.com/users/DavidHoltkamp1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DavidHoltkamp1/subscriptions","organizations_url":"https://api.github.com/users/DavidHoltkamp1/orgs","repos_url":"https://api.github.com/users/DavidHoltkamp1/repos","events_url":"https://api.github.com/users/DavidHoltkamp1/events{/privacy}","received_events_url":"https://api.github.com/users/DavidHoltkamp1/received_events","type":"User","site_admin":false},"html_url":"https://github.com/DavidHoltkamp1/monster_shop_1911","description":null,"fork":true,"url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911","forks_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/forks","keys_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/keys{/key_id}","collaborators_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/teams","hooks_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/hooks","issue_events_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/issues/events{/number}","events_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/events","assignees_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/assignees{/user}","branches_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/branches{/branch}","tags_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/tags","blobs_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/git/refs{/sha}","trees_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/git/trees{/sha}","statuses_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/statuses/{sha}","languages_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/languages","stargazers_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/stargazers","contributors_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/contributors","subscribers_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/subscribers","subscription_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/subscription","commits_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/commits{/sha}","git_commits_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/git/commits{/sha}","comments_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/comments{/number}","issue_comment_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/issues/comments{/number}","contents_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/contents/{+path}","compare_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/compare/{base}...{head}","merges_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/merges","archive_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/downloads","issues_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/issues{/number}","pulls_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/pulls{/number}","milestones_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/milestones{/number}","notifications_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/labels{/name}","releases_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/releases{/id}","deployments_url":"https://api.github.com/repos/DavidHoltkamp1/monster_shop_1911/deployments","created_at":"2020-02-18T22:15:04Z","updated_at":"2020-03-01T19:47:45Z","pushed_at":"2020-03-14T19:49:27Z","git_url":"git://github.com/DavidHoltkamp1/monster_shop_1911.git","ssh_url":"git@github.com:DavidHoltkamp1/monster_shop_1911.git","clone_url":"https://github.com/DavidHoltkamp1/monster_shop_1911.git","svn_url":"https://github.com/DavidHoltkamp1/monster_shop_1911","homepage":null,"size":264,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":3,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":3,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":238045903,"node_id":"MDEwOlJlcG9zaXRvcnkyMzgwNDU5MDM=","name":"paired_pet_shop","full_name":"itemniner/paired_pet_shop","private":false,"owner":{"login":"itemniner","id":49219371,"node_id":"MDQ6VXNlcjQ5MjE5Mzcx","avatar_url":"https://avatars2.githubusercontent.com/u/49219371?v=4","gravatar_id":"","url":"https://api.github.com/users/itemniner","html_url":"https://github.com/itemniner","followers_url":"https://api.github.com/users/itemniner/followers","following_url":"https://api.gith[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GH_NATHAN_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1585246499'
      Etag:
      - W/"7396b6dbff04e5335[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GH_NATHAN_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1585246499'
      Etag:
      - W/"6bc9946dde68e46f2[...]
[...]
